* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/img/backgroundmenu.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  
}

.backgroundimage{
  
}
/*NAVBAR RESPONSIVE*/
nav {
  background-color: rgba(0, 0, 0, 0.568);
}

.topnav {
  overflow: hidden;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.topnav a:first-child {
  background-color: black;
}
.topnav a {
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

.topnav a:first-child {
  padding: 0px 30px;
  font-size: 50px;
  color: white;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    background-color: black;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    font-size: 30px;
    position: absolute;
    right: 0;
    display: block;
  }
  .topnav {
    overflow: hidden;
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#main-container {

  position: relative;
  width: 80%;
  margin: auto;
  height: auto;
}

.menu-header {
  text-align: center;
  padding: 40px;
  color: white;
}

header {
  overflow: hidden;
}
main input {
  margin: auto;
  color: white;
}
.search-menu {
  width: 100%;border: none;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 0;
  text-align: center;
  margin-bottom: 1em;
} 
.search-menu::placeholder{
  color: white;
}
/*Filterdropdown*/
.dropbtn {
  width: 100%;
  background-color: rgb(196, 196, 196);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  
}
.dropbtn:focus{
  border-radius: 0;
}
.dropbtn:active { border-radius: 0;}
.dropbtn:hover, .dropbtn:focus {
  
  background-color: rgb(129, 129, 129);
  color: white;
}
.dropdown
.dropdown {
  
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f1f1f1;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*Apioutput*/
#output-list {
  background-color: green;
  color: white;
  margin-bottom: 300px;
  display: flex;
  justify-content: space-evenly;
 
  
}
.output-food{
  background-color: red;
  text-align: center;
  width: 200px;
  
  
  
}
.output-food img {
  width: 100%;
}


/*FOOTER RESPONSIVE(NOT THE BEST)*/
footer {
  position: absolute;
  bottom: 0;
  color: white;
  width: 100%;
  background-color: rgb(70, 69, 69);
}

.footer-columns {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.footer-column {
  padding: 10px;

  margin: 0px;
}
.footer-column p {
  padding: 6px;
  font-size: 14px;
}

.last-footer-section {
  text-align: center;
}
.last-footer-section p {
  padding: 4px;
  font-size: 12px;
}

.fa-instagram {
  padding: 4px;
  font-size: 20px;
}
.fa-facebook {
  font-size: 20px;
  padding: 4px;
}
.fa-twitter {
  font-size: 20px;
  padding: 4px;
}
